.h-XL {
  font-size: 26px;
}
.h-L {
  font-size: 20px;
}
.h-M {
  font-size: 18px;
}
.h-S {
  font-size: 15px;
}
[class*="h"] {
  font-weight: 700;
}
.body-L {
  font-size: 15px;
}
.body-M {
  font-size: 14px;
}
