@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");
button {
  border: 0;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.button-1 {
  padding-left: 30px;
  padding-right: 30px;
  height: 48px;
}

.button-2 {
  height: 40px;
  width: 100%;
}

.h-XL {
  font-size: 26px;
}

.h-L {
  font-size: 20px;
}

.h-M {
  font-size: 18px;
}

.h-S {
  font-size: 15px;
  letter-spacing: 2.4px;
}

[class*=h] {
  font-weight: 700;
}

.body-L {
  font-size: 15px;
}

.body-M {
  font-size: 14px;
}

.subtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  gap: 12.5px;
  margin: 20px;
}
.subtask > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--gray-D-1);
  padding: 12px 8px;
  color: var(--white);
  border-radius: 5px;
}
.subtask > div p {
  margin-left: 12px;
}
.subtask > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  background-color: var(--gray-D-2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.subtask > div div svg {
  width: 10px;
  height: 10px;
  display: none;
}

.completed {
  background-color: var(--purple) !important;
}
.completed svg {
  display: block !important;
}

.text-field {
  height: 40px;
  width: 350px;
  margin: 30px;
  position: relative;
}
.text-field input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(130, 143, 163, 0.4588235294);
  padding: 0px 10px;
  border-radius: 5px;
  color: var(--white);
  font-size: 14px;
  background-color: var(--gray-D-2);
}

.text-field-empty input {
  border-color: var(--red);
}
.text-field-empty::before {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "Can’t be empty";
  color: white;
  font-size: 14px;
  color: var(--red);
  position: absolute;
}

.dropdown {
  width: 350px;
  margin: 30px;
}
.dropdown > div:first-child {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(130, 143, 163, 0.4588235294);
  padding: 10px 15px;
  border-radius: 5px;
}
.dropdown .dropdown-input {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--gray-D-1);
  border-radius: 5px;
}
.dropdown .dropdown-input div {
  margin: 18px 0px;
  cursor: pointer;
  color: var(--gray-L-1);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: var(--gray-D-2);
}
nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
nav h1 svg {
  display: none;
}
nav h1 svg:first-of-type {
  margin-right: 10px;
}
nav h1 svg:last-of-type {
  margin-left: 10px;
}
nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav > div button {
  margin-right: 10px;
}
nav > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
}
@media (max-width: 860px) {
  nav h1 svg {
    display: inline;
  }
  nav h1 svg:last-of-type path {
    width: 100%;
    height: auto;
  }
}

.sidebar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 300px;
  background-color: var(--gray-D-2);
  height: 100vh;
  left: 0;
  border-right: 1px solid var(--gray-D-3);
  padding: 25px 0;
  padding-right: 20px;
  z-index: 2;
}
.sidebar > div:first-child > svg {
  margin-left: 20px;
  margin-bottom: 40px;
}
.sidebar > div:first-child > div h5 {
  margin-left: 20px;
  margin-bottom: 30px;
  color: var(--gray-L-1);
}
.sidebar > div:first-child > div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px 0;
}
.sidebar > div:first-child > div div div p {
  display: inline;
  margin-left: 15px;
}
.sidebar > div:first-child > div div div svg {
  margin-left: 20px;
}
.sidebar > div:first-child > div div div:last-of-type p {
  color: var(--purple);
}
.sidebar > div:last-child {
  margin-left: 20px;
}
.sidebar > div:last-child p {
  margin-top: 20px;
  color: var(--gray-L-1);
  cursor: pointer;
}
.sidebar > div:last-child p svg {
  margin-right: 5px;
}
.sidebar > div:last-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--gray-D-1);
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 60px;
  border-radius: 5px;
}
.sidebar > div:last-child > div div {
  width: 45px;
  height: 25px;
  border-radius: 100px;
  background-color: var(--purple);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.sidebar > div:last-child > div div:hover {
  background-color: var(--purple-L);
}
.sidebar > div:last-child > div div::before {
  content: "";
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--white);
  width: 16px;
  height: 16px;
  -webkit-transform: translate(25%, 22%);
          transform: translate(25%, 22%);
  border-radius: 100px;
}
@media (max-width: 860px) {
  .sidebar {
    height: 375px;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
    border-radius: 10px;
    -webkit-transition: 0s !important;
    transition: 0s !important;
  }
  .sidebar > div:first-child > svg {
    display: none;
  }
}

.chosen {
  background-color: var(--purple);
}
.chosen p {
  color: var(--white) !important;
}
.chosen path {
  fill: var(--white);
}

.toggle {
  background-color: var(--gray-L-1) !important;
}
.toggle::before {
  -webkit-transform: translate(160%, 22%) !important;
          transform: translate(160%, 22%) !important;
}

.shower-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 38px;
  position: fixed;
  bottom: 50px;
  left: 0;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--purple);
}

main {
  max-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 860px) {
  main {
    margin-left: 0 !important;
  }
}

:root {
  --font: "Plus Jakarta Sans", sans-serif;
  --purple-g: #ffffff;
  --purple-g-h: #ffffff;
  --purple: #635fc7;
  --purple-L: #a8a4ff;
  --black: #000112;
  --gray-D-1: #20212c;
  --gray-D-2: #2b2c37;
  --gray-D-3: #3e3f4e;
  --gray-L-1: #828fa3;
  --gray-L-2: #e4ebfa;
  --gray-L-3: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-L: #ff9898;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--gray-D-1);
}

.purple {
  background-color: var(--purple);
}
.purple:hover {
  background-color: var(--purple-L);
}

.red {
  background-color: var(--red);
}
.red:hover {
  background-color: var(--red-L);
}

.gray {
  background-color: var(--purple-g);
  color: var(--purple) !important;
}
.gray:hover {
  background-color: var(--purple-g-h);
}